body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #F8EDE3;
}
h1 {
    font-family: 'Mate', serif;
    color: #A7727D;
}
.Home {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-top: -5px;
    background-color: #F8EDE3;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 20px;
}

.image-wrapper {
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 20px;
}

.image-wrapper img {
    width: auto;
    height: 600px;
    object-fit: cover;
}

.dress-info {
    padding: 10px;
    text-align: center;
}

.dress-name {
    font-size: 16px;
    color: #A7727D;
    margin-top: -3px;
}

.dress-price {
    font-size: 14px;
    color: #A7727D;
    margin-bottom: 10px;
}