* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/public/images/register.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.register-background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px auto;
    margin-right: 350px;
}

.register-form h2 {
    color: black;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    color: #333;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.register-form button:hover {
    background-color: darkgray;
}
